body {
  padding-top: 50px;
}

.postal-body {
    padding: 0;
    background-size: cover !important;
    background-position: center !important;
    transition: background 1s;
}

h1, h2, h3, h4, h5, h6, p {
     margin:0;
}

.select-menu-wrapper {
    padding:0;
}

body {
  padding-top: 50px;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.navbar-inverse {
    background: rgba(242, 160, 3, 0.7);
    border-bottom: #F2A003 1px solid;
}

.navbar-inverse .navbar-brand {
    color:#222;
}

.navbar-inverse .navbar-nav>li>a {
    color:#222;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.input-one {
    font-size:15px;
    padding:7px 13px;
    border-radius:21px;
    border:none;
    width:175px;
    outline:none;
}

.round-in-middle {
    position:fixed;
    top: 50%;
    left: 50%;
    width:400px;
    height:400px;
    margin-top: -200px;
    margin-left: -200px;
    text-align:center;
    display:table;
    background: rgba(242,160,3,0.7);
    border-radius: 200px;
}

.round-in-middle-content {
    display: table-cell; 
    vertical-align: middle; 
}

.round-in-middle-content h1 {
    color:#FFF;
}

.round-in-middle-content h3 {
    color:#FFF;
}

.round-in-middle-input {
    margin-top:5px;
    text-align: left;
    padding-right:52px;
    width: 220px;
    font-size:16px;
    padding:10px 20px;
    border-radius:21px;
    border:none;
    outline:none;
}

.something-absolute {
    position: absolute;
}

.something-0 {
    width: 0;
    height:0;
}

.arrow-button {
    height:42px;
    width:42px;
    border-radius: 21px;
    background: #82CCEC;
    position: relative;
    top:-42px;
    left:269px;
    cursor: pointer;
    transition: background 0.1s;
    background-image: url(https://cdn2.iconfinder.com/data/icons/arrow-5/512/arrow_pencil_left-large-128.png);
    background-size: calc(100% - 10px);
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-button:hover {
    background:#68A6C4;
    background-image: url(https://cdn2.iconfinder.com/data/icons/arrow-5/512/arrow_pencil_left-large-128.png);
    background-size: calc(100% - 5px);
    background-position: center;
    background-repeat: no-repeat;
}

.front-footer {
    position:fixed;
    right: 0;
    bottom: 0;
}

.front-footer ul li {
    display: inline;
    padding-right: 20px;
    color:#FFF;
    text-shadow: 0 0 10px #000;
}

.front-footer ul li a {
    color:#FFF;
    text-decoration: none;
}

.specify {
    background-color:#F0F0F0;
    padding:0;
    border:none;
    border-right:#BBB 1px solid;
}

.header {
    padding:20px 25px;
}

.results .header {
    background-color: #F0F0F0;
    padding-top:21px;
}

.results {
    padding-left:20px;
    padding:0;
}

.results .row {
    width:100%;
    margin:0;
}

.result-box {
    height:100px;
    width:100%;
    background:rgba(242, 160, 3, 0.7);
    border-radius:3px;
    overflow: hidden;
    padding:15px;
    margin-top:30px;
}

.result-image {
    float:left;
    height:70px;
    width:70px;
    background:#fff;
    border-radius:3px;
}

.result-content {
    padding:0 10px;    
}

.result-content h4 {
    color:#FFF;
}